<!--tableTemplate-->
<table data-bind="attr: { class: tableClasses }" >
  <thead>
    <tr data-bind="foreach: columns">
      <!-- ko if: $data.sort -->
    <th scope="col" data-bind="click: $parent.sort.bind(rowText)"><!-- ko text: headerText --><!-- /ko -->
      <!-- ko if: $data.unsorted -->
      <span>&harr;</span>
      <!-- /ko -->
      <!-- ko if: $data.sortedUp -->
      <span>&uarr;</span>
      <!-- /ko -->
      <!-- ko if: $data.sortedDown -->
      <span>&darr;</span>
      <!-- /ko -->
    </th>
      <!-- /ko -->
      <!-- ko ifnot: $data.sort -->
      <th scope="col" data-bind="text: headerText"></th>
      <!-- /ko -->
    </tr>
  </thead>
  <tbody data-bind="foreach: data">
    <tr data-bind="foreach: $parent.columns">
      <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText] "></td>
    </tr>
  </tbody>
</table>
